.home-container {
  background-image: url("../assets/images/Junior_G.PNG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
