@import './assets/font/lexend-deca.css';
@import "tailwindcss";
@import "tw-animate-css";

/* body, * {
  font-family: 'Lexend Deca', sans-serif;
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  will-change: transform;
}

/* Tablet (≥768px): slower */
@media (min-width: 768px) {
  .animate-marquee {
    animation-duration: 30s;
  }
}

/* Desktop (≥1280px): even slower */
@media (min-width: 1280px) {
  .animate-marquee {
    animation-duration: 30s;
  }
}
